{extend name="template/base" /}
{block name="title"}我的桌面{/block}
{block name="content"}
<div class="page-container">
    <h2><font style="margin-left: 440px; color: gray;">欢迎进入:&nbsp;{$info['realname']} 管理专区</font></h2>
    <div id="main" style="width: 500px;height:400px; float: left; margin-top: 100px;"></div>
    <div id="main1" style="width: 800px;height:400px; float: left; margin-top: 100px;"></div>
</div>
<footer class="footer mt-20">
    <div class="container" style="clear: both;">
        <p></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p>
            感谢jQuery、layer、laypage、Validform、UEditor、My97DatePicker、iconfont、Datatables、WebUploaded、icheck、highcharts、bootstrap-Switch、H-ui、H-ui.admin<br>
            Copyright &copy;2016 {$Think.config.site.name} {$Think.config.site.version} All Rights Reserved.<br>
            本后台系统由<a href="http://www.h-ui.net/" target="_blank" rel="nofollow" title="H-ui前端框架">H-ui前端框架</a>提供前端技术支持</p>
    </div>
</footer>
{/block}
{block name="script"}
<script type="text/javascript" src="__LIB__/eCharts/echarts.min.js"></script>
<script>
    //代理商统计图
    var agentData = {$agentData};
    var legendData = {$agentLegendData};
    var myChart = echarts.init(document.getElementById('main'));
    var option = {
        title : {
            text: '代理商统计图',
            subtext: '占比图',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: legendData
        },
        series : [
            {
                name: '数量',
                type: 'pie',
                radius : '55%',
                center: ['50%', '60%'],
                data:agentData,
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    myChart.setOption(option);

    //商户显示图
    var userData = {$userData};
    var userLengendData = {$userLegendData};
    var myChart1 = echarts.init(document.getElementById('main1'));
    var option1 = {
        title : {
            text: '商户统计图',
            subtext: '占位图',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            x : 'center',
            y : 'bottom',
            data:userLengendData
        },
        toolbox: {
            show : true,
            feature : {
                mark : {show: true},
                dataView : {show: true, readOnly: false},
                magicType : {
                    show: true,
                    type: ['pie', 'funnel']
                },
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        series : [
            {
                name:'半径模式',
                type:'pie',
                radius : [20, 110],
                center : ['50%', '50%'],
                roseType : 'radius',
                data:userData
            },
        ]
    };

    myChart1.setOption(option1);
</script>
{/block}


